<div class="admin-dashboard container py-5">
  <h1>Painel de Controle do Administrador</h1>
  <p class="lead">Bem-vindo, aqui você pode gerenciar o sistema.</p>

  <div class="card-container mt-5">

    <div class="admin-card">
      <div class="card-content">
        <i class="bi bi-tags-fill card-icon"></i>
        <h5 class="card-title">Gerenciar Categorias</h5>
        <p class="card-text">Adicione, edite ou remova as categorias de produtos da plataforma.</p>
      </div>
      <a routerLink="/admin/categories" class="btn">Ir para Categorias</a>
    </div>

    <div class="admin-card">
      <div class="card-content">
        <i class="bi bi-building-check card-icon"></i>
        <h5 class="card-title">Validar Empresas</h5>
        <p class="card-text">Aprove ou rejeite os cadastros de novas empresas pendentes.</p>
      </div>
      <a routerLink="/admin/validate-enterprises" class="btn">Validar Empresas</a>
    </div>

    <div class="admin-card">
      <div class="card-content">
        <i class="bi bi-receipt-cutoff card-icon"></i>
        <h5 class="card-title">Gestão de Pedidos</h5>
        <p class="card-text">Visualize e filtre o histórico de todas as vendas da plataforma.</p>
      </div>
      <a routerLink="/admin/orders" class="btn">Ver Pedidos</a>
    </div>

  </div>
</div>