<head>
    <title>GoGift - Torne-se uma Empresa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<section class="container mt-10">
    <div class="card">
        <div class="card-header">
            <h2>Cadastre sua Empresa</h2>
            <p>Preencha os dados abaixo para começar a vender seus gift cards.</p>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #enterpriseForm="ngForm">
                <div class="mb-3">
                    <label for="nome_fantasia" class="form-label">Nome Fantasia</label>
                    <input type="text" id="nome_fantasia" class="form-control" name="nome_fantasia" placeholder="Nome da sua Empresa"
                        [(ngModel)]="enterprise.nome_fantasia" required>
                </div>
                <div class="mb-3">
                    <label for="cnpj" class="form-label">CNPJ</label>
                    <input type="text" id="cnpj" class="form-control" name="cnpj" [(ngModel)]="enterprise.cnpj" placeholder="CNPJ da Empresa"
                        required mask="00.000.000/0000-00">
                </div>
                <div class="mb-3">
                    <label for="nome_admin_empresa" class="form-label">Nome do Administrador</label>
                    <input type="text" id="nome_admin_empresa" class="form-control" name="nome_admin_empresa" placeholder="Nome do Encarregado"
                        [(ngModel)]="enterprise.nome_admin_empresa" required>
                </div>
                <div class="mb-3">
                    <label for="cpf_adm" class="form-label">CPF do Administrador</label>
                    <input type="text" id="cpf_adm" class="form-control" name="cpf_adm" [(ngModel)]="enterprise.cpf_adm" placeholder="CPF do Encarregado"
                        required mask="000.000.000-00">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" id="telefone" class="form-control" name="telefone" placeholder="Telefone para Contato"
                        [(ngModel)]="enterprise.telefone" required mask="(00) 00000-0000">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!enterpriseForm.form.valid || isSubmitting">
                    {{ isSubmitting ? 'A Enviar...' : 'Solicitar Cadastro' }}
                </button>
            </form>
        </div>
    </div>
</section>